@page "/products/create"
@using Microsoft.EntityFrameworkCore
@using BlazorOnlineShop.Models
@inject IDbContextFactory<BlazorOnlineShop.Data.BlazorOnlineShopContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Product</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Product" OnValidSubmit="AddProduct" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Product.Name" class="form-control" /> 
                <ValidationMessage For="() => Product.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="addeddate" class="form-label">AddedDate:</label> 
                <InputDate id="addeddate" @bind-Value="Product.AddedDate" class="form-control" /> 
                <ValidationMessage For="() => Product.AddedDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="lastupdateddate" class="form-label">lastUpdatedDate:</label> 
                <InputDate id="lastupdateddate" @bind-Value="Product.lastUpdatedDate" class="form-control" /> 
                <ValidationMessage For="() => Product.lastUpdatedDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="lastupdatedby" class="form-label">lastUpdatedBy:</label> 
                <InputText id="lastupdatedby" @bind-Value="Product.lastUpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Product.lastUpdatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="categoryid" class="form-label">CategoryID:</label> 
                <InputText id="categoryid" @bind-Value="Product.CategoryID" class="form-control" /> 
                <ValidationMessage For="() => Product.CategoryID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="sellingprice" class="form-label">SellingPrice:</label> 
                <InputNumber id="sellingprice" @bind-Value="Product.SellingPrice" class="form-control" /> 
                <ValidationMessage For="() => Product.SellingPrice" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="cost" class="form-label">Cost:</label> 
                <InputNumber id="cost" @bind-Value="Product.Cost" class="form-control" /> 
                <ValidationMessage For="() => Product.Cost" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Product.Description" class="form-control" /> 
                <ValidationMessage For="() => Product.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="viewedcount" class="form-label">viewedCount:</label> 
                <InputNumber id="viewedcount" @bind-Value="Product.viewedCount" class="form-control" /> 
                <ValidationMessage For="() => Product.viewedCount" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/products">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Product Product { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddProduct()
    {
        using var context = DbFactory.CreateDbContext();
        context.Product.Add(Product);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/products");
    }
}
