@page "/products"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorOnlineShop.Models
@using BlazorOnlineShop.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorOnlineShop.Data.BlazorOnlineShopContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="products/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Product">
    <PropertyColumn Property="product => product.Name" />
    <PropertyColumn Property="product => product.AddedDate" />
    <PropertyColumn Property="product => product.lastUpdatedDate" />
    <PropertyColumn Property="product => product.lastUpdatedBy" />
    <PropertyColumn Property="product => product.CategoryID" />
    <PropertyColumn Property="product => product.SellingPrice" />
    <PropertyColumn Property="product => product.Cost" />
    <PropertyColumn Property="product => product.Description" />
    <PropertyColumn Property="product => product.viewedCount" />

    <TemplateColumn Context="product">
        <a href="@($"products/edit?id={product.ID}")">Edit</a> |
        <a href="@($"products/details?id={product.ID}")">View</a> |
        <a href="@($"products/delete?id={product.ID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorOnlineShopContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
