@page "/orders"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorOnlineShop.Models
@using BlazorOnlineShop.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorOnlineShop.Data.BlazorOnlineShopContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="orders/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Order">
    <PropertyColumn Property="order => order.ClientName" />
    <PropertyColumn Property="order => order.ClientEmail" />
    <PropertyColumn Property="order => order.ClientAddress" />
    <PropertyColumn Property="order => order.OrderedDate" />
    <PropertyColumn Property="order => order.LastUpdatedDate" />
    <PropertyColumn Property="order => order.LastUpdatedBy" />

    <TemplateColumn Context="order">
        <a href="@($"orders/edit?id={order.ID}")">Edit</a> |
        <a href="@($"orders/details?id={order.ID}")">Details</a> |
        <a href="@($"orders/delete?id={order.ID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorOnlineShopContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
