

.product-container {
    display: flex;
    align-items: stretch; 
    flex-flow: row wrap;
}

.product-image {
    height: auto;
    margin-right: 50px; 
    max-width: 400px;
    object-fit: cover; 
}


.viewed-count {
    font-size: 0.9rem;
}

.product-details {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding-top:50px;
}

.product-dates {
    font-size: 0.8rem;
    margin-top: auto; 
    right:0;
    text-align:right;

}

.productDetail-title {
    min-width: 100px;
}

.productDetail-content {
    minwidth: 200px;
}

.toast-AddToCart {
    margin-top: 50px;
}

#quantity{
    width:100px;
}


