@page "/"
<script>
    window.sessionStorage = {
        getItem: function (key) {
            const data = sessionStorage.getItem(key);
            return data ? JSON.parse(data) : null;
        },
        setItem: function (key, value) {
            sessionStorage.setItem(key, JSON.stringify(value));
        }
    };
</script>

<PageTitle>Home</PageTitle>

<h1>Hello, welcome to my shop</h1>


